// Put any @imports here
// See Readme for a list of supported ones

.wrapper{
  width: 60%;
  margin: 0 auto;
  background: #e2ebf3;
}

li{
  list-style: none;
}

.lineThrough{
  text-decoration: line-through;
  color: #ccc;
}
